<div class="strip"><h2>Edit Details</h2></div>

<div class="spacer"></div>

<form>

	<div>
		<table width="100%">
		<tr><td><label>First Name</label></td><td><input class="inputCustom" type="text" ng-model="item[0].fname"></td></tr>
		<tr><td><label>Last Name</label></td><td><input class="inputCustom" type="text" ng-model="item[0].lname"></td></tr>
		<tr><td><label>Mobile No</label></td><td><input class="inputCustom" type="text" ng-model="item[0].mobile"></td></tr>
		<tr><td><label>Home No</label></td><td><input class="inputCustom" type="text" ng-model="item[0].home"></td></tr>
		<tr><td><label>Email</label></td><td><input class="inputCustom" type="text" ng-model="item[0].email"></td></tr>
		<tr><td><label>Address</label></td><td><input class="inputCustom" type="text" ng-model="item[0].address"></td></tr>
		</table>
	</div>

	<div class="spacer"></div>

	<div><input class="bigblue" type="button" value="SAVE" ng-click="updateContact(item[0]._id)">&#160;<input class="biggray" type="button" value="BACK" ng-click="clear()"></div>
</form>

<div class="spacer"></div>